body {margin:0px; padding:0px; background:url(../images/background.gif) repeat-x top left; color:#000; font:normal 1em Arial, Helvetica, sans-serif;}
div,ul,ol,li,h1,h2,h3,h4,h5,h6,form,p,input,select,textarea {margin:0; padding:0;}
img{border:0; outline:0;}
ul li{list-style:none;}
.clear{ clear:both;}
.l_height{ line-height:18px;}
.l_height{ line-height:20px;}
.radio{ margin:0; padding:0;}

a:link, a:visited{ outline:none; font:normal 1em; color:#000; text-decoration:underline;}
a:hover{ outline:none; font:normal 1em; color:#f00; text-decoration:none;}

h1 {font:normal 2em; color:#fff;}
h2 {font:bold 1.5em Arial, Helvetica, sans-serif; color:#d15b28; padding:0px 0px 8px 20px; border-bottom:5px solid #8CAA46;}
h3 {font:normal 1em;}
h4 {font:normal 1em;}
h5 {font:normal 1em;}

#container{width:980px; height:auto; margin:0 auto; }
#container #header{ width:980px; height:auto; margin:0 auto; }
.logo-bg{background:url(../images/round-tab.gif) no-repeat; width:301px; height:104px; }
.logo{ margin:20px 0px 0px 25px;}
#body{ width:980px; height:auto;}

/*Common Text*/
.white_txt_s{font:normal 0.75em Arial, Helvetica, sans-serif; color:#fff; padding:0px 0px 0px 5px;}
.grey_txt_s{font:normal 0.75em Arial, Helvetica, sans-serif; color:#6c6c6c; padding:10px 0px 0px 0px;}
.grey_txt_s1{font:normal 0.65em Arial, Helvetica, sans-serif; color:#6c6c6c; height:23px; line-height:23px; padding:0px 0px 0px 10px;}
.grey_txt_m{font:normal 0.90em Arial, Helvetica, sans-serif; color:#6c6c6c; }
.white_t-1{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; text-decoration:none; color: #FFF;}
.brown_txt_m{font:normal 0.75em Arial, Helvetica, sans-serif; color:#000;  }

/*Common Text Link*/
.white_link_s:link{ font:normal 0.75em Arial, Helvetica, sans-serif; color:#fbfbfb; text-decoration:none; line-height:18px; }
.white_link_s:visited{ font:normal 0.75em Arial, Helvetica, sans-serif; color:#fbfbfb; text-decoration:none; line-height:18px;  }
.white_link_s:hover{font:normal 0.75em Arial, Helvetica, sans-serif; color:#bed784; text-decoration:none; line-height:18px;  }

.white_link_s1:link{ font:normal 1em Arial, Helvetica, sans-serif; color:#fbfbfb; text-decoration:underline; line-height:18px; padding-left:3px; }
.white_link_s1:visited{ font:normal 1em Arial, Helvetica, sans-serif; color:#fbfbfb; text-decoration:underline; line-height:18px;padding-left:3px;  }
.white_link_s1:hover{font:normal 1em Arial, Helvetica, sans-serif; color:#bed784; text-decoration:none; line-height:18px;padding-left:3px;  }

.red_link_s:link{ font:normal 0.98em Arial, Helvetica, sans-serif; color:#c61c00; text-decoration:none; line-height:18px; }
.red_link_s:visited{ font:normal 0.98em Arial, Helvetica, sans-serif; color:#c61c00; text-decoration:none; line-height:18px;  }
.red_link_s:hover{font:normal 0.98em Arial, Helvetica, sans-serif; color:#8caa46; text-decoration:none; line-height:18px;  }

.grey_text_link-m:link{font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#e2e2e2; text-decoration: none;  padding:0px 0px 0px 0px;}
.grey_text_link-m:visited{font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#e2e2e2; text-decoration: none;  padding:0px 0px 0px 0px;}
.grey_text_link-m:hover{font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#dbe3c9; text-decoration: none;  padding:0px 0px 0px 0px;}

/*Form Field*/
.textfield_s{ border:1px solid #999; width:160px; height:20px;}
.textfield_m{ border:1px solid #ababab; width:170px; height:23px; background-color:#fff; color:#2d2d2d; line-height:23px; padding-left:5px;}
.textfield_b{ border:1px solid #dbdbdb; width:260px; height:23px; line-height:23px;}
.textfield_d{ border:1px solid #dbdbdb; background-color:#fff; width:260px; height:23px; line-height:23px;}
.textfield_s1{ border:1px solid #dbdbdb; width:80px; height:23px; line-height:23px;}
.textfield_s2{ font-size:12px; color:#666; border:1px solid #dbdbdb; padding:0px 0px 0px 0px; width:150px; height:auto;}


.selectbox_s{ border:1px solid #999; width:160px; height:20px;}
.selectbox_m{ border:1px solid #999; width:180px; height:20px;}
.selectbox_b{ border:1px solid #dbdbdb; width:261px; height:23px;}
.textselect_9{ font-size:12px; color:#666; border:1px solid #dbdbdb; padding:0px 0px 0px 0px; width:150px; height:auto;}
.textarea_s{ border:1px solid #999; width:160px; height:20px;}
.textarea_m{ border:1px solid #999; width:180px; height:20px;}
.textarea_b{ border:1px solid #999; width:200px; height:20px;}

.label_1{width:200px; display:block; float:left;}

/*Padding*/
.pad_trbl{}
.pad_l-5{ padding-left:5px;}
.pad_l-10{ padding-left:10px;}

/*Border*/
.bor_1{ border-right:1px solid #e2e2e2;}

/*BG Images Color*/
.bg_img_1{ background:url(../images/.gif);}

/*Pagination*/
.paginat{ margin:0; padding:0px; font:normal 1em;}
.paginat ul{ padding:0; margin:0;}
.paginat li{ list-style-type:none; display:inline;}
.paginat a:link, .paginat a:visited{ color:#ed4800; text-decoration:none; /*border:1px solid #d9d9d9;*/}
.paginat a:hover { color:#ed4800; text-decoration:none; /*border:1px solid #4ea1da; background-color:#4ea1da;*/}
.paginat a.active{ color:#ed4800; text-decoration:none; /*border:1px solid #4ea1da; background-color:#4ea1da;*/}

/*Listing*/ 
.list-1 { padding:4px 0 0 38px; margin:0; }
.list-1 ul{ padding:0px; margin:0px 0px 0px 0px;}
.list-1 ul li{ padding:0px 0px 2px 0px; margin:0; list-style:none;   margin-bottom:1px;}
.list-1 ul li a:link{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; text-decoration: none; font-weight:normal; margin:0px; line-height:20px;}
.list-1 ul li a:visited{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; text-decoration: none; font-weight:normal; margin:0px; line-height:20px;}
.list-1 ul li a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fab293; text-decoration: none; font-weight:normal; margin:0px; line-height:20px;}
.list-1 ul li a.active{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#4E4E4E; text-decoration: none; font-weight:normal; margin:0px; line-height:20px;}


/*Footer*/ 
#footer{ width:100%; height:291px; background:url(../images/footer-bg.gif) repeat-x;}

.foot-inner{ width:980px; margin:0 auto;}


/*span buttons*/

a.squarebutton{
background: transparent url('../images/red-left.png') no-repeat top left;
display: block; float: left; font: bold 12px Arial;  height: 26px; padding-left: 8px; text-decoration: none;}

a:link.squarebutton, a:visited.squarebutton, a:active.squarebutton{color: #ffffff; }

a.squarebutton span{
background: transparent url('../images/red-right.png') no-repeat top right; display: block; padding: 5px 15px 6px 9px; }

a.squarebutton:hover{ 
background-position: bottom left;}

a.squarebutton:hover span{ 
background-position: bottom right; color: #e9eff8;}

.buttonwrapper{ 
overflow: hidden; width: 100%;}

/*span buttons*/

/*- Main Menu Tabs --------------------------- */

    #tabsI {
      float:right;  background:none; font-size:93%; line-height:normal; font:bold 0.85em Arial, Helvetica, sans-serif;
	  margin:9px 0px 0px 0px; }
	  
    #tabsI ul {list-style:none;}
	
    #tabsI li {display:inline; margin:0; padding:0;}
	  
    #tabsI a {
      float:left; background:url("../images/tableftI.png") no-repeat left top;  margin:0; padding:0 0 0 8px; text-decoration:none;
	  font-weight:bold;}
	  
    #tabsI a span {float:left; display:block; background:url("../images/tabrightI.png") no-repeat right top; padding:9px 15px 10px 6px; color:#FFF;}
    #tabsI a span {float:none;}

    #tabsI a:hover span {
      color:#FFF;}
    #tabsI a:hover {
      background-position:0% -36px;}
    #tabsI a:hover span {
      background-position:100% -36px;}
/*- Main Menu Tabs --------------------------- */

.signup-m{ width:977px; height:auto; background-image:url(../images/signup-m.jpg); background-repeat:repeat-y;}
.creat-m{ width:390px; height:auto; background-image:url(../images/creat-m.png); background-repeat:repeat-y;}
.signup-t{ width:977px; height:39px; background-image:url(../images/signup-t.jpg); background-repeat:no-repeat; }
.reg-nam{ width:auto; height:auto; float:left; font:bold 1em Arial, Helvetica, sans-serif; color:#d15b28; margin:10px 0 0 55px;}
.redstar{ color:#da7b52;}
.rnd-cor-m{background-image:url(../images/rnd-cor-m.png); background-repeat:repeat-y; width:980px; height:auto;}
.green_strip{ background-color:#8ba846; padding:3px; color:#fff; font-size:11px;}

/* Tabs*/

#green_tabs { width:100%; }
#green_tabs ul { margin:0; padding:0px 0px 0 15px; list-style:none; }
#green_tabs li { display:inline; margin:0; padding:0; }
#green_tabs a { float:left; background:url("../images/tab_w_l.png") no-repeat left top; margin:0; padding:0 0 0 10px; text-decoration:none; margin-right:2px; }
#green_tabs a span { float:left; display:block; background:url("../images/tab_w_r.png") no-repeat right top; padding:9px 14px 5px 6px; color:#fff; font-size:11px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#green_tabs a span {float:none;}
/* End IE5-Mac hack */
#green_tabs a:hover span { color:#d15b28; background-position:100% -29x; }
#green_tabs a:hover { background-position:0% -29px; }
#green_tabs a:hover span { background-position:100% -29px; }
#green_tabs a.active { background-position:0% -29px; color:#d15b28; }
#green_tabs a.active span { background-position:100% -29px;color:#d15b28; }


.h_color{ background-color:#8caa46;}

#top_menu{padding:0; margin:0; float:right; font-size:12px;}
#top_menu ul {padding:0; margin:0;}
#top_menu ul li{ float:left; display:inline; padding:0; margin:0; padding-top:3px; color:#fff; background:url(../images/divider.png) no-repeat  ; padding:0px 10px 3px 10px;}
#top_menu ul li a:link{  font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#fff; text-decoration:none;  display:block;}
#top_menu ul li a:visited{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#fff; text-decoration:none;  display:block;}
#top_menu ul li a:hover{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#fff; text-decoration:none; display:block;}

.gry_clr{ background-color:#fcfcfc; border:1px solid #dbdbdb;}


/*Grid*/

.gren_clr-t{ background-color:#9ecf76; color:#FFF;}
.border-1{ border:1px solid #7bac50;}
.light_gr_clr{ background-color:#f7f7f7; border-bottom:1px solid #d9d9d9;}
.light_gr_clr-1{ background-color:#e9e9e9; border-bottom:1px solid #fff;}
.light_gr_clr-2{ background-color:#ffffff; border-bottom:1px solid #fff;}

.messagebox{
 position:absolute;
 width:100px;
 margin-left:30px;
 border:1px solid #c93;
 background:#ffc;
 padding:3px;
  font-weight:normal; 
 font-size:12px;
}
.messageboxok{
 position:absolute;
 width:auto;
 margin-left:30px;
 border:1px solid #349534;
 background:#C9FFCA;
 padding:3px;
 font-weight:normal; 
 font-size:12px;
 color:#008000;
}
.messageboxerror{
 position:absolute;
 width:auto;
 margin-left:30px;
 border:1px solid #CC0000;
 background:#F7CBCA;
 padding:3px;
 font-weight:normal;
 color:#CC0000;
 font-size:12px;
}